*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
body{
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    max-width: 350px;
    width: 100%;
    position: relative;
    background-color: white;
    border-radius: 12px;
    padding: 20px;
}
header{
    font-size: 18px;
    color: black;
    text-align: center;
}
textarea{
    width: 100%;
    height: 80px;
    border-radius: 8px;
    margin: 20px 0;
    padding: 15px 20px;
    outline: none;
    resize: none;
}
button{
    width:100%;
    color: white;
    padding: 10px;
    background-color: lightblue;
}
button:active{
    transform: translateY(5px);
}